{% extends "base.html" %}
{% block title %}{{ slide_set.title|escape }} - 5lide{% endblock %}
{% block head %}
  <style type="text/css">
  .slide-thumb {
    cursor: pointer;
    font-weight: bold;
    padding: 8px 0px;
  }
  .slide-thumb.selected {
    border-bottom: 1px solid #ccc;
  }
  </style>
{% endblock %}

{% block body %}
  
    <!-- First subnav -->
    <div class="subnav subnav-fixed" style="padding-top: 5px; padding-left: 20px; background: white; z-index:1020;">
     
      <h3 id="slide-set-title" style="float: left; margin-top: 9px;"></h3>

      <div class="pull-right">
        <div class="btn-toolbar">
          <a class="btn" target="_blank" href="/view/set/{{ slide_set.key().id() }}">View Presentation</a>
          <a id="publish-button" class="btn">Publish</a>
          &nbsp; &nbsp; &nbsp; &nbsp; 
        </div>
      </div>
   </div>

  <div class="subnav subnav-fixed subnav-background" style="top: 90px; padding-top:5px; padding-left: 20px; z-index: 1010;">
    <div class="pull-left">
      <span id="slide-set-count" class="count"></span>

      <a id="new-slide-button" class="btn" type="button" data-toggle="modal"/><i class="icon-plus"></i></a>
      <a id="delete-slide-button" class="btn" type="button"/>
      <i class="icon-remove"></i></a>
    </div>

  </div>

  <div class="container-fluid" style="padding-top: 100px;">

    <table width="100%" height="100%">
         <tbody>
          <tr valign="top">
            <td id="sidebar" style="width:150px; padding: 4px; overflow:hidden; border-right:1px solid #ccc;">
              <div id="container" style="overflow-y: auto; height: 643px; " ;="">
                <ol id="slide-thumbs" style="position: relative; ">

                  {% raw %}
                  <script type="text/template" id="slide-thumb-template">
                    {{title}}
                  </script>
                  {% endraw %}

                </div>
              </div>
            </td>
            <td style="padding: 10px;">

              <div id="slide-edit-area">
              </div>

              {% raw %}
              <script type="text/template" id="slide-edit-template">
              <textarea class="slide-edit-textarea" style="width: 100%; height: 150px;">{{content}}</textarea>
              </script>
              {% endraw %}

              <div id="slide-preview-area">
                <iframe id="slide-preview-iframe" style="width: 100%; height:450px;" frameborder="0"></iframe>
              </div>
            </td>
          </tr>
         </tbody>
    </table>

  </div>

  </form>

  <div class="modal" id="modal-publish" style="display:none">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Publish Slide Set</h3>
    </div>
      <div class="modal-body">
        <p>Publishing this slide set will make it visible to anyone (though only collaborators will be able to add/edit slides).  Are you sure you want to do this?</p>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" type="submit" onclick="slideSet.doPublish(true)" data-dismiss="modal">Yes, Publish!</button>
          <button class="btn" type="button" data-dismiss="modal">Cancel</button>
      </div>
    </form>
  </div>

{% endblock %}

{% block bottomscript %}
<script src="/src/js/app/views-editor.js?version={{ version }}" type="text/javascript"></script>
{% endblock %}

{% block readyscript %}
new SL.views.editor.SlideSetView();
{% endblock %}
