{% extends "base.html" %}

{% block body %}

<div id="inbox">

  <div style="padding-top:20px; padding-left: 10px; padding-right: 10px;">
    <button class="btn btn-primary" data-toggle="modal" href="#modal-newset">Create</button>
    <button class="btn" data-toggle="modal" href="#modal-importset">Import</button>
  </div>

  <div style="border-bottom: 1px solid #ccc;">&nbsp;</div>

  <div id="inbox-area">
    {% raw %}
    <script id="inbox-template" type="text/x-handlebars-template">
    {{#if slidesets.length}}
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Last Edited</th>
        </tr>
      <tbody>
      </tr>
      {{#each slidesets}}
        <tr>
          <td>
            <div><a class="active" href="/edit/set/{{id}}">{{title}}</a></div>
          </td>
          <td class="date">
           <time class="timeago" datetime="{{updated}}"></time>
          </td>
        </tr>
      {{/each}}
    </table>
    {{else}}
    <div class="alert alert-block alert-info" style="margin: auto; width: 70%; margin-top: 60px;">
      <h4 class="alert-heading">Welcome!</h4>
      You have no slide sets &#9785; To get started, <a data-toggle="modal" href="#modal-newset">create a new set</a>.
    </div>
    {{/if}}
    </script>
    {% endraw %}
  </div>

  <div class="modal" id="modal-newset" style="display:none">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>New Slide Set</h3>
    </div>
    <div class="modal-body">
        <label>Title <input name="title" type="text" size="70"/></label>
    </div>
    <div class="modal-footer">
        <button id="modal-newset-button" class="btn btn-primary" type="submit" name="action" data-dismiss="modal">Create Slide Set</button>
        <button class="btn" type="button" data-dismiss="modal">Cancel</button>
    </div>
  </div>

  <div class="modal" id="modal-importset" style="display: none">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Import Slide Set</h3>
    </div>
    <form class="modal-form form-inline" action="/importslideset.do" method="post" id="slidesetimport">
      <div class="modal-body">
        <p>
        You can import either existing 5lide-generated slidesets or Google presentations.<br>
        Provide the URL of the 5lide set or the <b>published</b> Google presentation here:
        </p>
        <input type="hidden" name="slide" value=""/>
        <label>URL: <input name="url" type="text" size="70"/></label>
        <br>
        <label>Type:</label>
          <label><input name="type" value="5lide" type="radio" checked>&nbsp; 5lide</label>
          <label><input name="type" value="docs" type="radio">&nbsp; Docs</label>

      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" type="submit" name="action">Import</button>
          <button class="btn" type="button" data-dismiss="modal">Cancel</button>
      </div>
    </form>
  </div>

</div>

{% endblock %}

{% block bottomscript %}
<script src="/src/js/app/views-inbox.js" type="text/javascript"></script>
{% endblock %}

{% block readyscript %}
 {{ super() }}
 new InboxView();
{% endblock %}
