<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{% block title %}5lide{% endblock %}</title>
    <link href="/static/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css" /> 
    <script src="/static/javascript/closure-all.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://closure-library.googlecode.com/svn/trunk/closure/goog/css/dialog.css">
    <script>
  // Dialog code shared across multiple pages
  goog.require('goog.ui.Dialog');

  var dialog;

  function showDialog(div_id) {
    if (!dialog) {
      dialog = new goog.ui.Dialog();
    }
    var div = document.getElementById(div_id);
    var title = div.getElementsByClassName('title')[0].innerHTML;
    var content = div.getElementsByClassName('content')[0].innerHTML;
    dialog.setTitle(title);
    dialog.setContent(content);
    dialog.setButtonSet(null);
    dialog.setVisible(true);
  }

  function closeDialog(div_id) {
    dialog.setVisible(false);
  }

</script>
    {% block head %}{% endblock %}
  </head>
  <body {% block bodyattributes %}{% endblock %}>
    {% block header %}
      <div id="header">
        <div class="login">
          {% if user %}
            <span class="item nickname">{{ user.nickname }}</span> |
            <span class="item"><a href="{{ logout_url|escape }}">Sign out</a></span>
          {% else %}
            <span class="item"><a href="{{ login_url|escape }}">Sign in</a></span>
          {% endif %}
        </div>
        <div class="title"><a href="/"><h1>5lide</h1></a></div>
      </div>
    {% endblock %}
    <div id="body">{% block body %}{% endblock %}</div>
    {% block footer %}{% endblock %}
  </body>
</html>
