<html> 
  <head> 
    <!--[if gte IE 9]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <![endif]--> 
    <!--[if lt IE 9]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
    <![endif]--> 
    <meta charset="utf-8" />
    <title>{{slide_set.name}}</title>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Tangerine" rel="stylesheet" type="text/css" />
    <link href="/static/css/slideshow.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/theme_{{ slide_set.theme }}.css" rel="stylesheet" type="text/css" />
    {% ifequal slide_set.theme "party" %}
    <link href="/static/css/confetti.css" rel="stylesheet" type="text/css"/>
    <script src="/static/javascript/confetti.js"></script>
    {% endifequal %}
  </head> 
  <body> 
  <div class="presentation">
      <div id="presentation-counter"></div>
      <div class="slides">
        <div class="slide">
          <section>
            <p>This presentation is an HTML5 website</p>
            <p>Press <span class="key">&rarr;</span> key to advance.</p>
            <p>Zoom in/out: <span class="key">Ctrl or Command</span> + <span class="key">+/-</span></p>
          </section>
        </div>

    {% for slide in slides %}
      {% ifequal slide.type 'intro' %}
       <div class="slide intro">
        <header>
         <hgroup> 
          <h1>{{slide.title|escape}}</h1> 
          <h2>{{slide.subtitle|escape}}</h2>
         </hgroup> 
        </header>
       </div> 
      {% endifequal %}
      {% ifequal slide.type 'section' %}
        <div class="slide section"> 
          <header><h1>{{slide.title|escape}}</header>
        </div> 
      {% endifequal %}
      {% ifequal slide.type 'normal' %}
        <div class="slide normal"> 
          <header><h1>{{slide.title|escape}}</h1></header> 
          <section class="content"> 
             {{slide.content}}
          </section>
        </div>
      {% endifequal %}
    {% endfor %}
   </div>
  </div>
  <script src="/static/javascript/slideshow.js"></script>
  <!--[if lt IE 9]>
  <script 
  src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
  <script>CFInstall.check({ mode: "overlay" });</script>
  <![endif]--> 
  </body> 
</html>
