{% extends "base.html" %}

{% block title %}{{ slide_set.name|escape }} - 5lide{% endblock %}

{% block head %}
   <script src="/static/javascript/slidesedit.js" type="text/javascript"></script>
  {% if slide_set.published %}
    <link rel="alternate" type="application/atom+xml" title="{{ slide_set.name|escape }}" href="{{ request.path }}?id={{ slide_set.key|stringformat:"s"|urlencode }}&amp;output=atom"/>
  {% endif %}
  <script type="text/javascript">
  goog.require('goog.net.XhrIo');

  function newCollaborator() {
    var form = document.getElementById("memberform");
    showDialog('memberform_dialog');
    form["email"].focus();
  }

  function changeTheme() {
    showDialog('theme_dialog');
  }

  function publishSlideSet(button) {
    var publish = button.value == "Publish";
    if (publish) {
      showDialog('publishform_dialog');
    } else {
      doPublish(false);
    }
  }

  function newSlide() {
    showDialog('slidetype_dialog');
  }

  function doPublish(publish) {
    var dialog = document.getElementById("publishform_dialog");
    var info = document.getElementById("publish_info");

    // Disable all the publish buttons as we make the request
    var buttons = [document.getElementById("publish_button")];
    var inputs = dialog.getElementsByTagName("input");
    for (var i = 0; i < inputs.length; i++) {
      if (inputs[i].type == "button") {
        buttons.push(inputs[i]);
      }
    }
    for (var i = 0; i < buttons.length; i++) {
      buttons[i].disabled = true;
    }

    // Make the request
    var body = "id={{ slide_set.key|stringformat:"s"|urlencode }}";
    if (publish) {
      body += "&publish=1";
    }

    goog.net.XhrIo.send('/publishslideset.do', function() {
      buttons[0].value = publish ? "Unpublish" : "Publish";
      if (publish) {
        closeDialog();
        info.style.display = "";
      } else {
        info.style.display = "none";
      }
      for (var i = 0; i < buttons.length; i++) {
        buttons[i].disabled = false;
      }
    },
     'POST', body);
  }

  //]]>
  </script>
  <style type="text/css">

  .slideset .completed td.description .text {
    color: gray;
    text-decoration: line-through;
  }

  .collaborators {
    float: right;
    padding-bottom: 2px;
  }

  .collaborators .button {
    padding-left: 0.5em;
  }

  .slidesarea {
    clear: both;
    margin-top: 0.5em;
  }

  .slidesarea .slide table td {
    border-bottom: 0;
    padding-bottom: 3px;
    padding-top: 3px;
  }

  #publish_info {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .newslideset {
    margin-left: 10px;
    margin-top: 5px;
  }

  .newslideset img {
    vertical-align: middle;
  }

  .newslideset .text {
    text-decoration: underline;
    color: #0000cc;
  }

  .titlecol {
    width: 20%;
  }

  .subtitlecol {
    width: 20%;
  }

  .contentcol {
    width: 50%;
  }

  .typecol {
    width: 40px;
  }

  .typecol img {
    width: 35px;
    border: 1px solid grey;
  }
  </style>
{% endblock %}

{% block body %}

  <h1>{{ slide_set.name|escape }}</h1>

  <form action="/slideset.do" method="post">
    <div class="slidesarea">
     <div class="collaborators">
      <span class="label">Collaborators:</span>
       {% for member in slide_set.slidesetmember_set %}{% ifequal member.user.email user.email %}Me{% else %}{{ member.user.nickname }}{% endifequal %}{% if not forloop.last %}/{% endif %}{% endfor %}
      <input type="button" value="New" onclick="newCollaborator()"/>
     </div>
     <div class="menu">
      <input type="button" value="Change Theme" onclick="changeTheme(this)">
      <input id="publish_button" type="button" value="{% if slide_set.published %}Unpublish{% else %}Publish{% endif %}"
        onclick="publishSlideSet(this)">
     </div>
      <input type="hidden" name="next" value="{{ request.uri|escape }}"/>
      <div class="buttons top">
        <div class="left corner"></div>
        <div class="right corner"></div>
        <div class="info">
          <span class="count">{{ slides|length }} slide(s)</span>
          |
          <span class="button"><a href="{{ request.uri|escape }}&amp;output=slide">View as Slideshow</a></span>
        </div>
        <span class="button"><input id="delete_button" name="action"
          type="submit"
          value="Delete" onclick="return confirm('Are you sure you want to permanently delete the selected slides?')"/></span>
      </div>
      <div class="table">
        <div id="container">
        <table>
        <tr>
        <th class="checkbox"></th>
        <th class="typecol">Type</th>
        <th class="titlecol">Title</th>
        <th class="subtitlecol">Subtitle</th>
        <th class="contentcol">Content</th>
        </tr>
        </table>
        </div>
        <div class="newslideset" style="cursor: pointer" onclick="newSlide()"><img src="/static/images/zip-plus.gif" style="width: 14px; height: 14px"> <span class="text">New slide</span></div>
        {% if slides %}
        <div class="message">
          To re-order slides, drag the slide icons up or down.
        </div>
        {% endif %}
      </div>
    </div>
  </form>

  <div id="memberform_dialog" class="dialog" style="display: none">
    <div class="title">New Collaborator</div>
    <div class="content">
      <form action="/addmember.do" method="post" id="memberform">
        <div class="form">
          <input type="hidden" name="next" value="{{ request.uri|escape }}"/>
          <input type="hidden" name="list" value="{{ slide_set.key }}"/>
          <div class="field">
            <div class="name">Username</div>
            <div class="value"><input name="email" type="text" size="10"/></div>
          </div>
          <div class="buttons">
            <span class="button"><input type="submit" value="Add Collaborator"/></span>
            <span class="button"><input type="button" value="Cancel" onclick="DialogBox.instance().close()"/></span>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div id="publishform_dialog" class="dialog" style="display: none">
    <div class="title">Publish Slide Set</div>
    <div class="content">
      <div class="form">
        <div class="message">Publishing this slide set will make it visible to anyone (though only collaborators will be able to add/edit slides).  Are you sure you want to do this?</div>
        <div class="buttons">
          <span class="button"><input class="publishform_button" type="button" value="Yes, Publish Slide Set" onclick="doPublish(true)"/></span>
          <span class="button"><input class="publishform_button" type="button" value="Cancel" onclick="closeDialog();"/></span>
        </div>
      </div>
    </div>
  </div>

  <div id="slidetype_dialog" class="dialog" style="display: none">
    <div class="title">Pick Slide Type</div>
    <div class="content">
      <div class="form">
        <input type="image" name="intro" src="/static/images/type_intro.png" onclick="slideSet.newSlide('intro'); closeDialog();">
        <input type="image" name="normal" src="/static/images/type_normal.png"  onclick= "slideSet.newSlide('normal');  closeDialog();">
        <input type="image" name="section" src="/static/images/type_section.png"  onclick="slideSet.newSlide('section');  closeDialog();">
       </div>
       <div class="buttons" style="text-align:right">
          <span class="button"><input class="publishform_button" type="button" value="Cancel" onclick="closeDialog();"/></span>
        </div>
     </div>
   </div>

   <div id="theme_dialog" class="dialog" style="display: none">
    <div class="title">Change Theme</div>
    <div class="content">
      <div class="form">
        <input type="image" style="width:80px;height:60px" src="/static/images/theme_normal.png"  onclick="slideSet.changeTheme('normal');  closeDialog();">
        <input type="image" style="width:80px;height:60px" src="/static/images/theme_ballerina.png" onclick="slideSet.changeTheme('ballerina'); closeDialog();">
        <input type="image" style="width:80px;height:60px" src="/static/images/theme_android.png"  onclick= "slideSet.changeTheme('android');  closeDialog();">
        <input type="image" style="width:80px;height:60px" src="/static/images/theme_party.png"  onclick= "slideSet.changeTheme('party');  closeDialog();">
       </div>
       <div class="buttons" style="text-align:right">
          <span class="button"><input class="publishform_button" type="button" value="Cancel" onclick="closeDialog();"/></span>
        </div>
     </div>
   </div>

{% endblock %}

{% block footer %}
  <script type="text/javascript">

  var k = "{{ slide_set.key }}";
  var slideSet = new SlideSet(k, Slide.parseList([
    {% for slide in slides %}
      [k, "{{ slide.key }}", "{{slide.type}}", "{{slide.title}}",
      "{{slide.subtitle}}", "{{slide.content|addslashes}}" ] {% if not forloop.last %},{% endif %}
    {% endfor %}
  ]));
  slideSet.attachToDOM(document.getElementById("container"));

  </script>
{% endblock %}
