{% extends "base.html" %}
{% block title %}{{ slide_set.name|escape }} - 5lide{% endblock %}
{% block head %}
  {% if slide_set.published %}
    <link rel="alternate" type="application/atom+xml" title="{{ slide_set.name|escape }}" href="{{ request.path }}?id={{ slide_set.key|stringformat:"s"|urlencode }}&amp;output=atom"/>
  {% endif %}
  <style type="text/css">
  .slideset .completed td.description .text {
    color: gray;
    text-decoration: line-through;
  }

  .collaborators {
    float: right;
    padding-bottom: 2px;
  }

  .collaborators .button {
    padding-left: 0.5em;
  }

  .slidesarea {
    clear: both;
    margin-top: 0.5em;
  }

  .slidesarea .slide table td {
    border-bottom: 0;
    padding-bottom: 3px;
    padding-top: 3px;
  }

  #publish_info {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .newslideset {
    margin-left: 10px;
    margin-top: 5px;
  }

  .newslideset img {
    vertical-align: middle;
  }

  .newslideset .text {
    text-decoration: underline;
    color: #0000cc;
  }

  .titlecol {
    width: 20%;
  }

  .subtitlecol {
    width: 20%;
  }

  .contentcol {
    width: 50%;
  }

  .typecol {
    width: 40px;
  }

  .typecol img {
    width: 35px;
    border: 1px solid grey;
  }
  </style>
{% endblock %}

{% block body %}
  <h1>{{ slide_set.name|escape }}</h1>

  <form action="/slideset.do" method="post">
    <div class="slidesarea">
     <div class="collaborators">
      <span class="label">Collaborators:</span>
       {% for member in slide_set.slidesetmember_set %}{% ifequal member.user.email user.email %}Me{% else %}{{ member.user.nickname }}{% endifequal %}{% if not forloop.last %}/{% endif %}{% endfor %}
      <input type="button" value="New" onclick="newCollaborator()"/>
     </div>
     <div class="menu">
      <input type="button" value="Change Theme" onclick="changeTheme(this)">
      <input id="publish_button" type="button" value="{% if slide_set.published %}Unpublish{% else %}Publish{% endif %}"
        onclick="publishSlideSet(this)">
     </div>
      <input type="hidden" name="next" value="{{ request.uri|escape }}"/>
      <div class="buttons top">
        <div class="left corner"></div>
        <div class="right corner"></div>
        <div class="info">
          <span class="count">{{ slides|length }} slide(s)</span>
          |
          <span class="button"><a href="{{ request.uri|escape }}&amp;output=slide">View as Slideshow</a></span>
        </div>
        
        <span class="button">
          <input type="button" value="New slide" onclick="newSlide()"/>
        </span>
        
        <span class="button"><input id="delete_button" name="action"
          type="submit"
          value="Delete slide" onclick="return confirm('Are you sure you want to permanently delete the selected slide?')"/></span>
          
        </div>
      </div>
      
      <div id="slidemain" style="position:relative; width:100%; height: 600px;">
       <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" style="height:600px;">
         <tbody>
          <tr valign="top">
            <td id="sidebar" style="width:250px; padding: 4px; overflow:hidden; border-right:1px solid #C3D9FF;">
              <div id="container" style="height: 600px; overflow-y:auto";>
              </div>
            </td>
            <td id="centertable" style="padding: 10px;" >
              <div id="slideeditor"></div>
              <div id="slidepreview">
               <header><h1 id="previewtitle"></h1><h1 id="previewsubtitle"></h1></header> 
               <section id="previewcontent" class="content">
               Welcome to the new interface. You can rearrange slides by dragging the icons in the sidebar and select a given slide by clicking its title. As you edit the slide, you'll see an instant preview of what the HTML looks like (though not within the specified template). To delete a slide, select it and click 'Delete slide'. To insert a new slide (at the bottom), click 'New slide'.
               </section>
              </div>
            </td>
          </tr>
         </tbody>
       </table>
      </div>
          
    </div>
  </form>

  <div id="memberform_dialog" class="dialog" style="display: none">
    <div class="title">New Collaborator</div>
    <div class="content">
      <form action="/addmember.do" method="post" id="memberform">
        <div class="form">
          <input type="hidden" name="next" value="{{ request.uri|escape }}"/>
          <input type="hidden" name="set" value="{{ slide_set.key }}"/>
          <div class="field">
            <div class="name">Username</div>
            <div class="value"><input name="email" type="text" size="10"/></div>
          </div>
          <div class="buttons">
            <span class="button"><input type="submit" value="Add Collaborator"/></span>
            <span class="button"><input type="button" value="Cancel" onclick="DialogBox.instance().close()"/></span>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div id="publishform_dialog" class="dialog" style="display: none">
    <div class="title">Publish Slide Set</div>
    <div class="content">
      <div class="form">
        <div class="message">Publishing this slide set will make it visible to anyone (though only collaborators will be able to add/edit slides).  Are you sure you want to do this?</div>
        <div class="buttons">
          <span class="button"><input class="publishform_button" type="button" value="Yes, Publish Slide Set" onclick="doPublish(true)"/></span>
          <span class="button"><input class="publishform_button" type="button" value="Cancel" onclick="closeDialog();"/></span>
        </div>
      </div>
    </div>
  </div>

  <div id="slidetype_dialog" class="dialog" style="display: none">
    <div class="title">Pick Slide Type</div>
    <div class="content">
      <div class="form">
        <input type="image" name="intro" src="/static/images/type_intro.png" onclick="slideSet.newSlide('intro'); closeDialog();">
        <input type="image" name="normal" src="/static/images/type_normal.png"  onclick= "slideSet.newSlide('normal');  closeDialog();">
        <input type="image" name="section" src="/static/images/type_section.png"  onclick="slideSet.newSlide('section');  closeDialog();">
       </div>
       <div class="buttons" style="text-align:right">
          <span class="button"><input class="publishform_button" type="button" value="Cancel" onclick="closeDialog();"/></span>
        </div>
     </div>
   </div>

   <div id="theme_dialog" class="dialog" style="display: none">
    <div class="title">Change Theme</div>
    <div class="content">
      <div class="form">
        <input type="image" style="width:80px;height:60px" src="/static/images/theme_normal.png"  onclick="slideSet.changeTheme('normal');  closeDialog();">
        <input type="image" style="width:80px;height:60px" src="/static/images/theme_ballerina.png" onclick="slideSet.changeTheme('ballerina'); closeDialog();">
        <input type="image" style="width:80px;height:60px" src="/static/images/theme_android.png"  onclick= "slideSet.changeTheme('android');  closeDialog();">
        <input type="image" style="width:80px;height:60px" src="/static/images/theme_party.png"  onclick= "slideSet.changeTheme('party');  closeDialog();">
       </div>
       <div class="buttons" style="text-align:right">
          <span class="button"><input class="publishform_button" type="button" value="Cancel" onclick="closeDialog();"/></span>
        </div>
     </div>
   </div>

{% endblock %}

{% block footer %}
  <script type="text/javascript">
goog.require('goog.net.XhrIo');
goog.require('goog.dom');
goog.require('goog.net');
goog.require('goog.style');
goog.require('goog.fx.DragListGroup');
goog.require('goog.fx.DragListDirection');
goog.require('goog.events.Event');
goog.require('goog.net.XhrIo');


// A single slide. We know how to draw ourselves in the DOM and support the
// dragging/reordering operations on slides.
function Slide(setKey, key, type, title, subtitle, content) {
  this.setKey_ = setKey;
  this.key_ = key;
  this.type_ = type; 
  this.title_ = title;
  this.subtitle_ = subtitle || '';
  this.content_ = content.replace(/NEWLINE/g, '\n') || '';
}

Slide.TYPE_INTRO = 'intro';
Slide.TYPE_SECTION = 'section';
Slide.TYPE_NORMAL = 'normal';

// Returns this slide's datastore key.
Slide.prototype.key = function() {
  return this.key_;
}

// Parses a list of slides of the form:
//
//   [[setKey, key, description, completed]*]
//
// Specifically, the list should be an array of arrays representing arguments
// to the Slide constructor.
Slide.parseList = function(list) {
  var result = [];
  function wrapper() {}
  wrapper.prototype = Slide.prototype;
  for (var i = 0; i < list.length; i++) {
    var slide = new wrapper();
    Slide.apply(slide, list[i]);
    result.push(slide);
  }
  return result;
}

// Attaches this slide to the given element container, creating the DOM
// elements representing this slide.
Slide.prototype.attachToDOM = function(container) {
  var element = this.createElement_('div', container, 'slide');
  element.style.position = 'relative';

  var typeImg = this.createElement_('img', element);
  typeImg.style.cursor = 'move';
  typeImg.style.width = '40px';
  typeImg.style.verticalAlign = 'middle';
  typeImg.style.marginRight = '10px';
  typeImg.alt = 'Drag to reorder slides';
  typeImg.src = '/static/images/type_' + this.type_ + '.png';
  
  var header = this.createElement_('label', element);
  header.style.fontWeight = 'bold';
  header.style.cursor = 'pointer';
  header.className = 'slidelabel';
  header.innerHTML = (this.title_ != '') ? this.title_ : '(Untitled)';
  this.sidebarTitle_ = header;
  
  var hiddenInput = this.createElement_('input', element);
  hiddenInput.type = 'radio';
  hiddenInput.value = this.key_;
  hiddenInput.name = 'slide';
  hiddenInput.checked = false;
  hiddenInput.style.display = 'none';
  this.hiddenInput_ = hiddenInput;
  
  goog.events.listen(header, goog.events.EventType.CLICK, this.showSlide, false, this);
  //goog.style.setUnselectable(element, false);
  this.element_ = element;
  return element;
}

Slide.prototype.showSlide = function(e) {
  if (e && e.target.nodeName != 'LABEL') return;
  var labels = goog.dom.getElementsByClass('slidelabel');
  for (var i = 0; i < labels.length; i++) {
    labels[i].style.textDecoration = 'none';
  }
  this.sidebarTitle_.style.textDecoration = 'underline';
  this.hiddenInput_.checked = true;
  
  var centerArea = document.getElementById('slideeditor');
  centerArea.innerHTML = '';
  
  this.titleLabel_ = this.createElement_('label', centerArea);
  this.titleLabel_.innerHTML = 'Title: ';
  this.titleContainer_ = this.createElement_('input', centerArea);
  this.titleContainer_.style.position = 'relative';
  this.titleContainer_.value = this.title_ || '';

  goog.events.listen(this.titleContainer_, goog.events.EventType.KEYUP, goog.bind(this.updatePreview_, this));
  goog.events.listen(this.titleContainer_, goog.events.EventType.KEYPRESS, goog.bind(this.onEditKeyPress_, this));
  goog.events.listen(this.titleContainer_, goog.events.EventType.BLUR, goog.bind(this.saveEdit_, this));
  goog.events.listen(this.titleContainer_, goog.events.EventType.MOUSEDOWN, goog.events.Event.stopPropagation);

   // Make subtitle cell
   if (this.type_ == Slide.TYPE_INTRO) {
    this.subtitleLabel_ = this.createElement_('label', centerArea);
    this.subtitleLabel_.innerHTML = '&nbsp;Subtitle: ';
    this.subtitleContainer_ = this.createElement_('input', centerArea);
    goog.events.listen(this.subtitleContainer_, goog.events.EventType.KEYUP, goog.bind(this.updatePreview_, this));
    goog.events.listen(this.subtitleContainer_, goog.events.EventType.KEYPRESS, goog.bind(this.onEditKeyPress_, this));
    goog.events.listen(this.subtitleContainer_, goog.events.EventType.BLUR, goog.bind(this.saveEdit_, this));
    goog.events.listen(this.subtitleContainer_, goog.events.EventType.MOUSEDOWN, goog.events.Event.stopPropagation);
    this.subtitleContainer_.value = this.subtitle_ || '';
  }
  // Make content input
  if (this.type_ == Slide.TYPE_NORMAL) {
   
    this.contentContainer_ = this.createElement_('textarea', centerArea);
    this.contentContainer_.style.width = '100%';
    goog.events.listen(this.contentContainer_, goog.events.EventType.KEYUP, goog.bind(this.updatePreview_, this));
    goog.events.listen(this.contentContainer_, goog.events.EventType.BLUR, goog.bind(this.saveEdit_, this));
    goog.events.listen(this.contentContainer_, goog.events.EventType.MOUSEDOWN, goog.events.Event.stopPropagation);
    this.contentContainer_.value = this.content_ || '';
    this.contentContainer_.style.height = Math.min(this.contentContainer_.scrollHeight, document.getElementById('container').clientHeight/3) + 'px';
    
  }
  this.updatePreview_();
}

Slide.prototype.updatePreview_ = function() {
  document.getElementById('previewtitle').innerHTML = this.titleContainer_.value;
  if (this.titleContainer_.value != '') {
    this.sidebarTitle_.innerHTML = this.titleContainer_.value;
  }
  if (this.subtitleContainer_) {
    document.getElementById('previewsubtitle').innerHTML = this.subtitleContainer_.value;
  } else {
    document.getElementById('previewsubtitle').innerHTML = '';
  }
  if (this.contentContainer_) {
    document.getElementById('previewcontent').innerHTML = this.contentContainer_.value;
  } else {
    document.getElementById('previewcontent').innerHTML = '';
  }
}


// Check for Return/Escape key press events to stop editing. We save the
// edit on Return, cancel the edit on escape.
Slide.prototype.onEditKeyPress_ = function(e) {

  
  if (e.keyCode == 13) {
    goog.events.Event.stopPropagation(e);
    this.saveEdit_();
  } else if (e.keyCode == 27) {
    goog.events.Event.stopPropagation(e);
    this.cleanUpEdit_();
  }
}

// Save the results of this edit to the server.
Slide.prototype.saveEdit_ = function() {
  var titleChanged = this.titleContainer_.value != this.title_;
  if (titleChanged) this.title_ = this.titleContainer_.value;
  var subtitleChanged = this.subtitleContainer_ && this.subtitleContainer_.value != this.subtitle_;
  if (subtitleChanged) this.subtitle_ = this.subtitleContainer_.value;
  var contentChanged = this.contentContainer_ && this.contentContainer_.value != this.content_;
  if (contentChanged) this.content_ = this.contentContainer_.value;
  var changed = contentChanged || subtitleChanged || titleChanged;

  if (changed) {
    this.save();
  }
}

// Saves this slide to the datastore on the server with an AJAX request.
Slide.prototype.save = function() {
  // Find index by figuring out which element it is beneath its parent
  var parentNode = this.element_.parentNode;
  for (var child = parentNode.firstChild, i = 0; child != null; child = child.nextSibling, i++) {
    if (child.slide && child == this.element_) {
      // Index is 1-based
      index = i + 1;
    }
  }

  var args = [
      'set=' + encodeURIComponent(this.setKey_),
      'type=' + encodeURIComponent(this.type_),
      'title=' + encodeURIComponent(this.title_),
      'subtitle=' + encodeURIComponent(this.subtitle_),
      'content=' + encodeURIComponent(this.content_),
      'index=' + index
  ];
  if (this.key_) {
    args.push('slide=' + encodeURIComponent(this.key_));
  }
  goog.net.XhrIo.send('/editslide.do',
    goog.bind(this.onSave_, this),
    'POST',
    args.join('&')
  );
}

// Called when the save slide AJAX request finishes.
Slide.prototype.onSave_ = function(e) {
  var xhrio = e.target;
  if (xhrio.isSuccess()) {
    this.key_ = xhrio.getResponseText();
    this.hiddenInput_.value = this.key_;
  }
}

// Creates a DOM element with the given name, parent, and class name.
Slide.prototype.createElement_ = function(name, opt_parent, opt_className) {
  var element = document.createElement(name);
  if (opt_className) {
    element.className = opt_className;
  }
  if (opt_parent) {
    opt_parent.appendChild(element);
  }
  return element;
}

// A slide list, which is just a collection of slides.
function SlideSet(key, slides) {
  this.key_ = key;
  this.slides_ = slides;
}

// Draws this slide list in the given container.
SlideSet.prototype.attachToDOM = function(container) {
  var element = document.createElement('div');
  element.className = 'slidelist';
  element.style.position = 'relative';
  container.appendChild(element);
  this.element_ = element;
  var order = [];
  for (var i = 0; i < this.slides_.length; i++) {
    var slide = this.slides_[i];
    order.push(slide.key());
    var slideElement = slide.attachToDOM(element);
    slideElement.slide = slide;
  }
  this.order_ = order;
  this.makeDraggable_();
};

SlideSet.prototype.makeDraggable_ = function() {
  var me = this;
  if (this.dlg_) this.dlg_.disposeInternal();

  var dlg = new goog.fx.DragListGroup();
  dlg.addDragList(this.element_, goog.fx.DragListDirection.DOWN);
  dlg.setFunctionToGetHandleForDragItem(function(dragItem) {
    return dragItem.getElementsByTagName('img')[0]; });
  goog.events.listen(dlg, goog.fx.DragListGroup.EventType.DRAGEND, function() {
    me.savePositions_();
  });

  dlg.init();
  this.dlg_ = dlg;
}

// Serializes the order of all of the slides in this list to the server so
// the order will be preserved on refresh.
SlideSet.prototype.savePositions_ = function() {
  // Determine the slide order based on the positions of the DIVs
  var order = [];
  for (var child = this.element_.firstChild; child != null; child = child.nextSibling) {
    if (child.slide) {
      order.push(child.slide.key());
    }
  }

  // Only save the order to the server if it has changed
  var changed = false;
  for (var i = 0; i < order.length; i++) {
    if (order[i] != this.order_[i]) {
      changed = true;
      break;
    }
  }
  if (!changed) return;
  this.order_ = order;

  // Save the order to the server
  var body = 'slides=' + encodeURIComponent(order.join(','));
  goog.net.XhrIo.send('/setslidepositions.do', null, 'POST', body);
}

SlideSet.prototype.changeTheme = function(theme) {
  var body = 'theme=' + theme + '&id=' + this.key_;
  goog.net.XhrIo.send('/changetheme.do', null, 'POST', body);
}

// Creates a new slide in this list
SlideSet.prototype.newSlide = function(type) {
  var slide = new Slide(this.key_, null, type, '', '', '');
  this.slides_.push(slide);
  var slideElement = slide.attachToDOM(this.element_);
  slideElement.slide = slide;
  slide.showSlide();
  this.makeDraggable_();
}

function newCollaborator() {
  var form = document.getElementById("memberform");
  showDialog('memberform_dialog');
  form["email"].focus();
}

function changeTheme() {
  showDialog('theme_dialog');
}

function publishSlideSet(button) {
  var publish = button.value == "Publish";
  if (publish) {
    showDialog('publishform_dialog');
  } else {
    doPublish(false);
  }
}

function newSlide() {
  showDialog('slidetype_dialog');
}

function doPublish(publish) {
  var dialog = document.getElementById("publishform_dialog");
  var info = document.getElementById("publish_info");

  // Disable all the publish buttons as we make the request
  var buttons = [document.getElementById("publish_button")];
  var inputs = dialog.getElementsByTagName("input");
  for (var i = 0; i < inputs.length; i++) {
    if (inputs[i].type == "button") {
      buttons.push(inputs[i]);
    }
  }
  for (var i = 0; i < buttons.length; i++) {
    buttons[i].disabled = true;
  }

  // Make the request
  var body = "id={{ slide_set.key|stringformat:"s"|urlencode }}";
  if (publish) {
    body += "&publish=1";
  }

  goog.net.XhrIo.send('/publishslideset.do', function() {
    buttons[0].value = publish ? "Unpublish" : "Publish";
    if (publish) {
      closeDialog();
      info.style.display = "";
    } else {
      info.style.display = "none";
    }
    for (var i = 0; i < buttons.length; i++) {
      buttons[i].disabled = false;
    }
  },
   'POST', body);
}

var k = "{{ slide_set.key }}";
var slideSet = new SlideSet(k, Slide.parseList([
  {% for slide in slides %}
    [k, "{{ slide.key }}", "{{slide.type}}", "{{slide.title|addslashes}}",
    "{{slide.subtitle|addslashes}}", "{{slide.content|addslashes}}" ] {% if not forloop.last %},{% endif %}
  {% endfor %}
]));
slideSet.attachToDOM(document.getElementById("container"));



function resizeSlideArea() {

  function findPos(obj) {
    var curtop = 0;
    if (obj.offsetParent) {
     do {
        curtop += obj.offsetTop;
      } while (obj = obj.offsetParent);
    }
    return curtop;
  }

  var minus = findPos(document.getElementById('slidemain')) + 10;

  if (window.innerHeight) {
    var height = window.innerHeight - minus;
  } else {
    var height = document.documentElement.offsetHeight - minus;
  }
  document.getElementById('slidemain').style.height = height + 'px';
  document.getElementById('container').style.height = height + 'px';
}

goog.events.listen(window, goog.events.EventType.RESIZE, resizeSlideArea);
resizeSlideArea();

  </script>
{% endblock %}
