{% extends "base.html" %}
{% block title %}{{ slide_set.name|escape }} - 5lide{% endblock %}
{% block head %}
  {% if slide_set.published %}
    <link rel="alternate" type="application/atom+xml" title="{{ slide_set.name|escape }}" href="{{ request.path }}?id={{ slide_set.key|stringformat:"s"|urlencode }}&amp;output=atom"/>
  {% endif %}
  <style type="text/css">
  .slideset .completed td.description .text {
    color: gray;
    text-decoration: line-through;
  }

  .collaborators {
    float: right;
    padding-bottom: 2px;
  }

  .collaborators .button {
    padding-left: 0.5em;
  }

  .slidesarea {
    clear: both;
    margin-top: 0.5em;
  }

  .slidesarea .slide table td {
    border-bottom: 0;
    padding-bottom: 3px;
    padding-top: 3px;
  }

  #publish_info {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .newslideset {
    margin-left: 10px;
    margin-top: 5px;
  }

  .newslideset img {
    vertical-align: middle;
  }

  .newslideset .text {
    text-decoration: underline;
    color: #0000cc;
  }

  .titlecol {
    width: 20%;
  }

  .subtitlecol {
    width: 20%;
  }

  .contentcol {
    width: 50%;
  }

  .typecol {
    width: 40px;
  }

  .typecol img {
    width: 35px;
    border: 1px solid grey;
  }
  </style>
{% endblock %}

{% block body %}
  
    <!-- First subnav -->
    <div class="subnav subnav-fixed" style="padding-top: 5px; padding-left: 20px; background: white; z-index:1020;">
     
      <h3 id="slide-set-title" style="float: left; margin-top: 9px;"></h3>

      <div class="pull-right">
        <div class="btn-toolbar">
          <div class="btn-group">
            <a class="btn" target="_blank" href="{{ request.uri|escape }}&amp;output=slide">Start Presentation</a>
          </div>
          <div class="btn-group dropdown">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
              Share
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#modal-addcollab" data-toggle="modal">Add collaborator</a>
              <li><a id="button-unpublish" class="button-publish" href="javascript:slideSet.doPublish(false);" style="display:{% if slide_set.published %}block;{% else %}none;{% endif %}">Un-Publish</a>
              <li><a id="button-publish"   class="button-publish" href="#modal-publish" data-toggle="modal" style="display:{% if slide_set.published %}none;{% else %}block;{% endif %}">Publish</a>
            </ul>
          </div>
          &nbsp; &nbsp; &nbsp; &nbsp; 
        </div>
      </div>
   </div>

   <input type="hidden" name="next" value="{{ request.uri|escape }}"/>

  <div class="subnav subnav-fixed subnav-background" style="top: 90px; padding-top:5px; padding-left: 20px; z-index: 1010;">
    <div class="pull-left">
      <span id="slide-set-count" class="count"> slide(s)</span>

      <a id="new-slide-button" class="btn" type="button" data-toggle="modal"/><i class="icon-plus"></i></a>
      <a id="delete-slide-button" class="btn" type="submit" onclick="return confirm('Are you sure you want to permanently delete the selected slide?')"/>
      <i class="icon-remove"></i></a>
    </div>

    <div class="pull-right">
      <a class="btn" type="button" href="#modal-changetheme" data-toggle="modal">Change Theme</a>
      &nbsp; &nbsp; &nbsp; &nbsp; 
    </div>
  </div>

  <div class="container-fluid" style="padding-top: 100px;">

    <table width="100%" height="100%">
         <tbody>
          <tr valign="top">
            <td id="sidebar" style="width:150px; padding: 4px; overflow:hidden; border-right:1px solid #ccc;">
              <div id="container" style="overflow-y: auto; height: 643px; " ;="">
                <div id="slide-thumbs" style="position: relative; ">

                  <script type="text/template" id="slide-thumb-template">
                    <div class="slide-thumb" style="position: relative; visibility: visible; ">
                      <img style="cursor: move; height: 30px; width: 40px; vertical-align: middle; margin-right: 10px; " alt="Drag to reorder slides" src="/editor/img/type_normal.png">
                        <label style="font-weight: bold; cursor: pointer; text-decoration: underline; " class="slide-thumb-title">
                        <%= title %>
                        </label>
                    </div>
                  </script>

                </div>
              </div>
            </td>
            <td style="padding: 10px;">

              <div id="slide-edit-area" style="display:none;">
                <textarea id="slide-edit-textarea" style="width: 100%; height: 44px;"></textarea>
              </div>

              <div id="slidepreview" style="border-top: 1px solid #ccc;">
               <h1 id="previewtitle"></h1>
               <h1 id="previewsubtitle"></h1></header> 
               <section id="previewcontent" class="content">
               </section>
              </div>
            </td>
          </tr>
         </tbody>
    </table>

  </div>

  </form>


  <div class="modal" id="modal-addcollab" style="display:none">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>New Collaborator</h3>
    </div>
    <form class="modal-form form-inline" action="/addmember.do" method="post" id="memberform">
      <div class="modal-body">
          <input type="hidden" name="next" value="{{ request.uri|escape }}"/>
          <input type="hidden" name="set" value="{{ slide_set.key }}"/>
          <label>Username: <input name="email" type="text" size="10"/></label>

      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" type="submit">Add Collaborator</button>
          <button class="btn" type="button" data-dismiss="modal">Cancel</button>
      </div>
    </form>
  </div>

  <div class="modal" id="modal-publish" style="display:none">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Publish Slide Set</h3>
    </div>
      <div class="modal-body">
        <p>Publishing this slide set will make it visible to anyone (though only collaborators will be able to add/edit slides).  Are you sure you want to do this?</p>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" type="submit" onclick="slideSet.doPublish(true)" data-dismiss="modal">Yes, Publish!</button>
          <button class="btn" type="button" data-dismiss="modal">Cancel</button>
      </div>
    </form>
  </div>

  <div class="modal" id="modal-changetheme" style="display:none">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Change Theme</h3>
    </div>
      <div class="modal-body">
        <input type="image" style="width:80px;height:60px" src="/editor/img/theme_normal.png"  onclick="slideSet.changeTheme('normal');" data-dismiss="modal">
        <input type="image" style="width:80px;height:60px" src="/editor/img/theme_ballerina.png" onclick="slideSet.changeTheme('ballerina'); " data-dismiss="modal">
        <input type="image" style="width:80px;height:60px" src="/editor/img/theme_android.png"  onclick= "slideSet.changeTheme('android');" data-dismiss="modal">
        <input type="image" style="width:80px;height:60px" src="/editor/img/theme_party.png"  onclick= "slideSet.changeTheme('party');" data-dismiss="modal">
      </div>
      <div class="modal-footer">
          <button class="btn" type="button" data-dismiss="modal">Cancel</button>
      </div>
    </form>
  </div>

{% endblock %}

{% block readyscript %}

{% endblock %}
