<html> 
  <head> 
    <!--[if gte IE 9]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <![endif]--> 
    <!--[if lt IE 9]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
    <![endif]--> 
    <meta charset="utf-8" /> 
    <title>{{slide_set.name}}</title> 
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Tangerine" rel="stylesheet" type="text/css" /> 
    <link href="/static/css/slideshow.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/theme_{{ slide_set.theme }}.css" rel="stylesheet" type="text/css" />
    {% ifequal slide_set.theme "party" %}
    <link href="http://party-page.appspot.com/css/confetti.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript"> 
		/* Define the number of confettis to be used in the animation */
	const CONFETTIS = 20;
 
	function init() {
		
		/* Fill the empty container with freshly driven confetti */
		var first = true;
		for (var i = 0; i < CONFETTIS; i++) {
			document.body.appendChild(createAConfetti(first));
			first = false;
		}
	}
 
	/*
		Receives the lowest and highest values of a range and
		returns a random integer that falls within that range.
	*/
	function randomInteger(low, high) {
		return low + Math.floor(Math.random() * (high - low));
	}
 
	/*
	   Receives the lowest and highest values of a range and
	   returns a random float that falls within that range.
	*/
	function randomFloat(low, high) {
		return low + Math.random() * (high - low);
	}
 
	function randomItem(items) {
		return items[randomInteger(0, items.length - 1)]
	}
 
	/* Returns a duration value for the falling animation.*/
	function durationValue(value) {
		return value + 's';
	}
 
	function createAConfetti(is_first) {
		var confettis = ['2730', '272F', '272B', '272C', '2727', '2729'];
		var colors = ['red','blue','green','red','yellow','purple','pink','lightGreen','lightBlue'];
		var sizes = ['tiny', 'tiny', 'tiny', 'small', 'small', 'small', 'small', 'medium', 'medium', 'medium', 'medium', 'medium', 'medium', 'large', 'massive'];
 
		/* Start by creating a wrapper div, and an empty span  */
		var confettiElement = document.createElement('div');
		confettiElement.className = 'confetti ' + randomItem(sizes);
 
		var confetti = document.createElement('span');
		confetti.innerHTML = '&#x' + randomItem(confettis) + ';';
		confetti.style.color = randomItem(colors);
 
		confettiElement.appendChild(confetti);
 
		/* Randomly choose a spin animation */
		var spinAnimationName = (Math.random() < 0.5) ? 'clockwiseSpin' : 'counterclockwiseSpin';
 
		 /* Randomly choose a side to anchor to, keeps the middle more dense and fits liquid layout */
		 var anchorSide = (Math.random() < 0.5) ? 'left' : 'right';
 
		/* Figure out a random duration for the fade and drop animations */
		var fadeAndDropDuration = durationValue(randomFloat(5, 11));
 
		/* Figure out another random duration for the spin animation */
		var spinDuration = durationValue(randomFloat(4, 8));
 
		// how long to wait before the confettis arrive
		var confettiDelay = is_first ? 0 : durationValue(randomFloat(0, 10));
 
		confettiElement.style.webkitAnimationName = 'fade, drop';
		confettiElement.style.webkitAnimationDuration = fadeAndDropDuration + ', ' + fadeAndDropDuration;
		confettiElement.style.webkitAnimationDelay = confettiDelay;
 
		/* Position the confetti at a random location along the screen, anchored to either the left or the right*/
		confettiElement.style[anchorSide] = randomInteger(0, 60) + '%';
 
		confetti.style.webkitAnimationName = spinAnimationName;
		confetti.style.webkitAnimationDuration = spinDuration;
 
 
		/* Return this confetti element so it can be added to the document */
		return confettiElement;
	}
 
	window.onload = init;
    </script>
    {% endifequal %}
  </head> 
  <body> 
  <div class="presentation"> 
      <div id="presentation-counter"></div> 
      <div class="slides"> 
        <div class="slide"> 
          <section> 
            <p>This presentation is an HTML5 website</p> 
            <p>Press <span class="key">&rarr;</span> key to advance.</p> 
            <p>Zoom in/out: <span class="key">Ctrl or Command</span> + <span class="key">+/-</span></p> 
          </section> 
        </div> 

    {% for slide in slides %}
      {% ifequal slide.type 'intro' %}
       <div class="slide intro"> 
        <header>
         <hgroup> 
          <h1>{{slide.title|escape}}</h1> 
          <h2>{{slide.subtitle|escape}}</h2>
         </hgroup> 
        </header>
       </div> 
      {% endifequal %}
      {% ifequal slide.type 'section' %}
        <div class="slide section"> 
          <header><h1>{{slide.title|escape}}</header>
        </div> 
      {% endifequal %}
      {% ifequal slide.type 'normal' %}
        <div class="slide normal"> 
          <header><h1>{{slide.title|escape}}</h1></header> 
          <section class="content"> 
             {{slide.content}}
          </section> 
        </div>
      {% endifequal %}
    {% endfor %}
   </div>
  </div>
  <script src="/static/javascript/slideshow.js"></script>
  <!--[if lt IE 9]>
  <script 
  src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
  <script>CFInstall.check({ mode: "overlay" });</script>
  <![endif]--> 
  </body> 
</html>
